p {
    font-size: 10px;
    border-radius: 0px;
}
h1 { /*highscores*/
    text-align: left;
    margin-left: 6px;
    font-size: 16px;
}
h2 { /*menu titles*/
    font-size: 42px;
}

h5 { /*final score*/
    font-size: 24px;
}

h6 { /*music*/
    font-size: 8px;
    padding: 2px;
    margin: 3px;
}

li {
    font-size: 16px;
    line-height: 13px;
}

ol {
    margin-top: 3px;
    margin-left: 12px;
    border-radius: 0px;
}
ul {
    margin-top: -15px;
}

br {
    margin: 0px;
}

/* classes & id elements */
#canvas {
    width: 500px;
    height: 350px;
}
.canvas-container {
    width: 500px;
    height: 350px;
}

.slider {
    appearance: none;
    width: 60px;
    height: 12px;
    margin: -12px;
}

.slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 12px;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 12px;
}

.smallIcon {
    height: 38px;
    width: 38px;
    margin: 1px;
}

/*Other Buttons & Menus*/
.startButton {
    border: 3px solid black;
    height: 50px;
    width: 100px;
}
.startScreen {
    height: 100px;
    width: 250px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 3px;
}

/* right trapezoid button & scores*/
.rightButton {
    height: 220px;   
}
.scoreDisplay {
    height: 220px;
    width: 120px;
    border: none;
}
.scoreVal {
    width: 120px;
    font-size: 22px;
    word-spacing: -10px;
    line-height: 20px;
}

.leftButton {
    height: 220px;
}

.endGameText {
    width: 120px;
    height: 32px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverScreen {
    height: 120px;
    width: 240px;
    font-size: 42px;
    border: 3px solid black;
    padding-top: 20px;
}
/* buttons & respective screens */
button {
    font-size: 20px;
    margin: 2px;
}

/*Left Buttons & Menus*/
.buttonsFlex1 {
    display: flex;
    width: 200px;
    left: 1.8%;
}
/* how to */
.howToButton {
    width: 110px;
    height: 40px;
    padding: 5px;
}
.howToScreen {
    height: 240px;
    width: 390px;
    padding-top: 3px;
}

/* music selection */
.musicButton {
    width: 100px;
    height: 40px;
    padding: 5px;
}
.musicScreen {
    height: 250px;
    width: 380px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
}
.musicTile {
    width: 90px;
    height: 80px;
    margin: 3px;
}
.musicIcon {
    height: 40px;
    width: 60px;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: -10px;
}

/*Right Buttons & Menus*/
.buttonsFlex2 {
    display: flex;
    width: 200px;
    position: absolute;
    left: 59%;
}
/*desktop-mobile switching*/
.deviceButton {
    width: 60px;
    height: 40px;
}
/* skin menu */
.skinsButton {
    width: 100px;
    height: 40px;
}
.skinsMenuScreen {
    height: 230px;
    width: 330px;
    padding-top: 3px;
}
.skin {
    width: 38px;
    height: 38px;
    border: 2px solid black;
    padding: 1px;
}
.Bkg {
    width: 80px;
    height: 52px;
}

/* audio menu */
.audioButton {
    width: 60px;
    height: 40px;
}
.audioMenu {
    height: 120px;
    width: 90px;
    position: absolute;
    top: 32%;
    left: 83%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 12px;
    padding-top: 2px;
}
/*End game/Explode player/Close all menus*/
.closeButton {
    width: 50px;
    height: 40px;
    font-size: 20px;
}

/*Mobile Controls*/
.mobileButton {
    width: 40px;
    height: 32px;
    opacity: 0.5;
}
.mobileLeft {
    width: 120px;
    height: 80px;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.mBUp {
    margin-left: 64px;
}

.mobileRight {
    width: 120px;
    height: 80px;
    position: absolute;
    top: 85%;
    left: 83%;
    transform: translate(-50%, -50%);
}
.mBRight {
    margin-left: 64px;
}



/* toggled classes - need to be at bottom so they can override other styles */
.hidden {
    display: none;
}
.greyed {
    background-color: grey;
    opacity: 0.9;
}
.greyed:hover {
    background-color: grey;
}
