p {
    font-size: 12px;
}
h2 {
    font-size: 50px;
}

h5 {
    font-size: 24px;
}

h6 {
    padding: 2px;
    margin: 3px;
}

li {
    font-size: 22px;
    letter-spacing: -2.1px;
    line-height: 28px;
}

ol {
    margin: 38px;
}

/* classes & id elements */
#canvas {
    width: 600px;
    height: 420px;
}
.canvas-container {
    width: 600px;
    height: 420px;
}

.slider {
    width: 80px;
    height: 20px;
    margin-left: -13px;
    margin-right: -13px;
}

.slider::-webkit-slider-thumb {
    width: 30px;
    height: 30px;
    border-radius: 12px;
}
.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 12px;
}

.smallIcon {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 2px;
}
.mediumIcon {
    height: 160px;
    width: 220px;
    border-radius: 22px;
    margin: 8px;
}

/*Other Buttons & Menus*/
.startButton {
    border: 5px solid black;
    border-radius: 18px;
    padding: 5px;
    height: 65px;
    width: 130px;
}
.startScreen {
    height: 100px;
    width: 250px;
    border: 3px solid black;
    border-radius: 12px;
    padding: 3px;
}

/* right trapezoid button & scores*/
.rightButton {
    height: 220px;   
}
.scoreDisplay {
    height: 220px;
    width: 120px;
}
.scoreVal {
    width: 190px;
    font-size: 22px;
}

.leftButton {
    height: 220px;
}

.endGameText {
    width: 120px;
    height: 32px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverScreen {
    height: 120px;
    width: 240px;
    font-size: 42px;
    border: 3px solid black;
    padding-top: 20px;
}
/* buttons & respective screens */
button {
    font-size: 20px;
    margin: 3px;
}

/*Left Buttons & Menus*/
.buttonsFlex1 {
    display: flex;
    width: 200px;
    left: 1.5%;
    top: 3.8%;
}
/* how to */
.howToButton {
    width: 140px;
    height: 40px;
    padding: 5px;
}
.howToScreen {
    height: 280px;
    width: 390px;
    padding-top: 3px;
}
.orText {
    position: absolute;
    top: 25%;
    transform: translate(0, -50%);
    border: 2px solid black;
    padding: 5px;
}

/* music selection */
.musicButton {
    width: 120px;
    height: 50px;
    padding: 5px;
}
.musicScreen {
    height: 530px;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
    padding: 20px;
    background: #cf8619;
}
.musicTile {
    width: 180px;
    height: 180px;
    border: 3px solid black;
    border-radius: 15px;
    margin: 5px;
    background-color: #dbdbdb;
}
.musicIcon {
    display: block;
    height: 90px;
    width: 130px;
    font-size: 70px;
    line-height: 90px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
}

/*Right Buttons & Menus*/
.buttonsFlex2 {
    display: flex;
    width: 300px;
    position: absolute;
    left: 68%;
    top: 1%;
}
/*desktop-mobile switching*/
.deviceButton {
    width: 60px;
    height: 51px;
    background-color: #cf8619;
    cursor: pointer;
}
/* skin menu */
.skinsButton {
    width: 135px;
    height: 50px;
    outline: none;
    user-select: none;
    padding: 5px;
}
.skinsMenuScreen {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
    padding-top: 20px;
    background: #cf8619;
}
.skin {
    border: 3px solid black;
    background: #cf8619;
    padding: 2px;
    margin: 2px;
}
.Bkg {
    width: 150px;
    height: 100px;
    border: 3px solid black;
    padding: 0;
    margin: 2px;
}

/* audio menu */
.audioButton {
    width: 60px;
    height: 50px;
    background-color: #cf8619;
}
.audioMenu {
    height: 230px;
    width: 160px;
    position: absolute;
    top: 26%;
    left: 86%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
    padding-top: 20px;
    background: #cf8619;
}
.border {
    border: 1px solid black;
}
.resetDataButton {
    border: 3px solid black;
    cursor: pointer;
}
/*End game/Explode player/Close all menus*/
.closeButton {
    width: 56px;
    height: 50px;
}

/* toggled classes - need to be at bottom so they can override other styles */
.hidden {
    display: none;
}
.greyed {
    background-color: grey;
    opacity: 90%;
}
.greyed:hover {
    background-color: grey;
}