/* general html elements */
* {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    overflow: hidden;
    outline: none;
    user-select: none;
}

p {
    font-size: 18px;
}

h2 {
    font-family: impact;
    font-weight: thin;
    font-size: 50px;
    font-style: italic;
    text-decoration: underline;
}

h5 {
    font-weight: thin;
    font-size: 40px;
}

h6 {
    padding: 2px;
    margin: 3px;
}

a {
    color: darkblue;
}

li {
    font-size: 22px;
    text-align: left;
    font-weight: bold;
    word-spacing: -2.2px;
    letter-spacing: -1.8px;
    line-height: 28px;
    overflow: visible;
}

ol {
    margin: 38px;
}

/* classes & id elements */
#canvas {
    position: absolute;
    width: 1000px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(0, 1, 86);
    background: rgb(44, 44, 44);
}

.canvas-container {
    position: absolute;
    width: 1000px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex {
    display: flex;
    justify-content: center;
    overflow: visible;
}

.fs32 {
    font-size: 32px;
}

.slider {
    appearance: none;
    width: 80px;
    height: 20px;
    margin-left: -13px;
    margin-right: -13px;
    background: #bcbcbc;
    opacity: 0.8;
    transform: rotate(-90deg);
    overflow: visible;
}
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background: darkblue;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 12px;
    background: darkblue;
    cursor: pointer;
}

.smallIcon {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    padding: 5px;
    margin: 2px;
}
.mediumIcon {
    height: 160px;
    width: 220px;
    border-radius: 22px;
    margin: 8px;
}

/*Other Buttons & Menus*/
.startButton {
    border: 5px solid black;
    border-radius: 18px;
    padding: 5px;
    height: 65px;
    width: 130px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.title {
    width: 100%;
}
.startScreen {
    height: 180px;
    width: 420px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    border-radius: 25px;
    padding: 5px;
    background-color: #cf8619;
    opacity: 0.8;
}

/* right trapezoid button & scores*/
.rightButton {
    width: 20px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 20px solid #cf8619;
    border-left: 0px solid transparent;
    background: none;
    transition: 0.3s;
    opacity: 0.88;
    overflow: visible;
}
.rightButton:hover {
    background: none;
    border-right: 20px solid #d28f29;
}
.scoreDisplay {
    height: 400px;
    width: 200px;
    position: absolute;
    top: 50.5%;
    left: 100%;
    transform: translate(0, -50%);
    padding-top: 50px;
    border: 5px solid darkblue;
    background: #cf8619;
    transition: 0.3s;
    opacity: 0.88;
}
.scoreVal {
    list-style-position: inside;
    width: 190px;
    word-spacing: -16px;
}

.leftButton {
    width: 20px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 1.3%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    text-align: left;
    text-indent: -19px;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #cf8619;
    border-right: 0px solid transparent;
    background: none;
    transition: 0.3s;
    opacity: 0.88;
    overflow: visible;
}
.leftButton:hover {
    background: none;
    border-left: 20px solid #d28f29;
}

.endGameText {
    width: 180px;
    height: 50px;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 2px;
    background: grey;
    opacity: 0.7;
}

.gameOverScreen {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-weight: lighter;
    word-spacing: -12px;
    border: 8px solid black;
    border-radius: 25px;
    padding-top: 22px;
    background: #cf8619;
}
