* {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #33758a;
    outline: none;
    user-select: none;
}

title {
    margin-top: 15px;
    width: 25%;
    height: 12%;
}

p {
    font-size: 18px;
}

h2 {
    padding-bottom: 18px;
    background-color: #cf8619;
}
h6 {
    text-align: left;
    padding: 5px;
    border: 3px solid black;
    border-radius: 12px;
    margin: 5px;
    background-color: #cf8619;
}

button {
    background-color: #cf8619;
    color: darkblue;
    font-size: 36px;
    font-weight: bold;
    margin: 3px;
}

li {
    background-color: #cf8619; 
    font-size: 24px; 
    text-align: left;
    font-weight: bold;
}

.Bkg {
    width: 160px;
    height: 100px;
    padding: 0px;
}

#canvas {
    border: 5px solid rgb(0, 1, 86);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 700px;
    width: 1000px;
    background: rgb(55, 55, 55);
    overflow: hidden;
}

.startButton {
    border: 3px solid black;
    border-radius: 12px;
    padding: 5px;
    height: 70px;
    width: 150px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, 0);
}

.howToButton {
    width: 145px;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

.musicButton {
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 12px;
    padding: 5px;
}

.muteButton {
    width: 50px;
    height: 50px;
    background-color: #cf8619;
    border: none;
    border-radius: 12px;
}

.skinsButton {
    width: 135px;
    height: 50px;
    border: none;
    border-radius: 12px;
    outline: none;
    user-select: none;
    padding: 5px;
}

.closeButton {
    width: 55px;
    height: 50px;
    border: none;
    border-radius: 12px;
}

.buttonsFlex1 {
    display: flex;
    width: 360px;
    border-radius: 12px;
    position: absolute;
    background-color: transparent;
    left: 1.5%;
    top: 1%;
}

.buttonsFlex2 {
    display: flex;
    width: 260px;
    border-radius: 12px;
    position: absolute;
    background-color: transparent;
    left: 72%;
    top: 1%;
}

.canvas-container {
    position: absolute;
    width: 1000px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameOverScreen {
    height: 200px;
    width: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: lighter;
    letter-spacing: -5px;
    border: 8px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 42px;
    background: #cf8619;
}

.skinsMenuScreen {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: lighter;
    border: 8px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 20px;
    background: #cf8619;
}

.howToScreen {
    height: 500px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: lighter;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 20px;
    background: #cf8619;
}

.musicScreen {
    height: 530px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    border: 3px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 20px;
    background: #cf8619;
}

.skin {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #cf8619;
    padding: 5px;
    margin: 2px;
}

.Bkg {
    border: 2px solid black;
    border-radius: 12px;
    background-color: #cf8619;
    padding: 5px;
    margin: 2px;
}

.flex {
    display: flex;
    justify-content: center;
    background-color: #cf8619;
    border: none;
}

.orText {
    background-color: #cf8619; 
    position: absolute;
    top: 30%;
    transform: translate(0, -50%); 
    font-size: 32px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
}

.hidden {
    display: none;
}

.greyed {
    background: grey;
    pointer-events: none;
}